In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
ryans_file = "Ryan's Table.csv"
new_file = "Source_files/state_vaccinations.csv"

In [3]:
df_ryan = pd.read_csv(ryans_file)
df_ryan.head()

,State,Tested,Infected,Deaths,ICU Beds,Age 0-25,Age 26-54,Age 55+,Obesity Rate,Population,Health Expen
0,Alabama,1356420,194892,2973,1533,0.33,0.37,0.31,36.1,4934193,7281
1,Alaska,620170,17057,84,119,0.36,0.39,0.25,30.5,724357,11064
2,Arizona,1792602,248139,5982,1559,0.33,0.36,0.30,31.4,7520103,6452
3,Arkansas,1363429,113641,1985,732,0.34,0.37,0.30,37.4,3033946,7408
4,California,18912501,930628,17672,7338,0.33,0.40,0.26,26.3,39613493,7549

In [7]:
df_ryan.shape

(50, 11)

In [5]:
df_vax = pd.read_csv(new_file)
df_vax.head()

,State,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,Alabama,3064250.0,4648150.0,1787017.0,29.78,62.50,1460230.0,36.45,94.80,23765.0,5508.0,1123.0,0.659
1,Alaska,625893.0,819205.0,343730.0,40.49,85.56,296184.0,46.99,111.98,2362.0,1595.0,2180.0,0.764
2,Arizona,6122967.0,7905885.0,3445917.0,37.22,84.12,2709020.0,47.34,108.62,1063.0,17986.0,2471.0,0.774
3,Arkansas,2130617.0,2793200.0,1218544.0,32.14,70.60,969859.0,40.38,92.56,7179.0,5924.0,1963.0,0.763
4,California,39765872.0,48112680.0,23038863.0,45.31,100.64,17903416.0,58.31,121.77,1476.0,161232.0,4081.0,0.827

In [8]:
df_vax.shape

(51, 13)

In [9]:
df_vax = df_vax[df_vax.State != 'United States']

In [10]:
df_vax.shape

(50, 13)

In [12]:
df_vax['partial_vaccinations'] = (df_vax['people_vaccinated'] - df_vax['people_fully_vaccinated'])

In [13]:
df_vax.head()

,State,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,partial_vaccinations
0,Alabama,3064250.0,4648150.0,1787017.0,29.78,62.50,1460230.0,36.45,94.80,23765.0,5508.0,1123.0,0.659,326787.0
1,Alaska,625893.0,819205.0,343730.0,40.49,85.56,296184.0,46.99,111.98,2362.0,1595.0,2180.0,0.764,47546.0
2,Arizona,6122967.0,7905885.0,3445917.0,37.22,84.12,2709020.0,47.34,108.62,1063.0,17986.0,2471.0,0.774,736897.0
3,Arkansas,2130617.0,2793200.0,1218544.0,32.14,70.60,969859.0,40.38,92.56,7179.0,5924.0,1963.0,0.763,248685.0
4,California,39765872.0,48112680.0,23038863.0,45.31,100.64,17903416.0,58.31,121.77,1476.0,161232.0,4081.0,0.827,5135447.0

In [16]:
df_vax.drop(['total_vaccinations', 'total_distributed', 'people_vaccinated', 'people_fully_vaccinated_per_hundred',
             'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'distributed_per_hundred',
             'daily_vaccinations_raw', 'daily_vaccinations', 'daily_vaccinations_per_million'], axis=1, inplace=True)

In [17]:
df_vax.head()

        State  people_fully_vaccinated  share_doses_used  partial_vaccinations
0     Alabama                1460230.0             0.659              326787.0
1      Alaska                 296184.0             0.764               47546.0
2     Arizona                2709020.0             0.774              736897.0
3    Arkansas                 969859.0             0.763              248685.0
4  California               17903416.0             0.827             5135447.0

In [18]:
df_vax = df_vax.rename(columns={'share_doses_used':'percent_doses_used'})

In [19]:
df_vax.head()

,State,people_fully_vaccinated,percent_doses_used,partial_vaccinations
0,Alabama,1460230.0,0.659,326787.0
1,Alaska,296184.0,0.764,47546.0
2,Arizona,2709020.0,0.774,736897.0
3,Arkansas,969859.0,0.763,248685.0
4,California,17903416.0,0.827,5135447.0

In [20]:
df_vax.percent_doses_used = (df_vax.percent_doses_used * 100).astype(str) + '%'

In [21]:
df_vax.head()

,State,people_fully_vaccinated,percent_doses_used,partial_vaccinations
0,Alabama,1460230.0,65.9%,326787.0
1,Alaska,296184.0,76.4%,47546.0
2,Arizona,2709020.0,77.4%,736897.0
3,Arkansas,969859.0,76.3%,248685.0
4,California,17903416.0,82.7%,5135447.0

In [23]:
cols = list(df_vax.columns.values)
cols

['State',
 'people_fully_vaccinated',
 'percent_doses_used',
 'partial_vaccinations']

In [24]:
df_vax = df_vax[['State', 'partial_vaccinations', 'people_fully_vaccinated', 'percent_doses_used']]

In [25]:
df_vax.head()

,State,partial_vaccinations,people_fully_vaccinated,percent_doses_used
0,Alabama,326787.0,1460230.0,65.9%
1,Alaska,47546.0,296184.0,76.4%
2,Arizona,736897.0,2709020.0,77.4%
3,Arkansas,248685.0,969859.0,76.3%
4,California,5135447.0,17903416.0,82.7%

In [27]:
import config
conn = f'{config.username}:{config.password}@localhost:5432/project_2'
engine = create_engine(f'postgresql://{conn}')

In [31]:
engine.table_names()

['ryan', 'vax']

In [29]:
df_ryan.to_sql(name='ryan', con=engine, if_exists='append', index=False)

In [30]:
df_vax.to_sql(name='vax', con=engine, if_exists='append', index=False)

In [32]:
df_ryan.columns

Index(['State', 'Tested', 'Infected', 'Deaths', 'ICU Beds', 'Age 0-25',
       'Age 26-54', 'Age 55+', 'Obesity Rate', 'Population', 'Health Expen'],
      dtype='object')