In [13]:
import pandas as pd

In [14]:
df_file = 'Healthcare_per_capita_State-2014.csv'

In [15]:
df = pd.read_csv(df_file)
df.head()

   Unnamed: 0          State Health Spending per Capita
0           0  United States                      $8045
1           1        Alabama                      $7281
2           2         Alaska                     $11064
3           3        Arizona                      $6452
4           4       Arkansas                      $7408

In [8]:
df = df.rename(columns={'Location':'State'})

In [27]:
df = df.rename(columns={'Health Spending per Capita':'$$$'})

In [28]:
df.head()

           State    $$$
0  United States   8045
1        Alabama   7281
2         Alaska  11064
3        Arizona   6452
4       Arkansas   7408

In [24]:
df = df.iloc[: , 1:]

In [19]:
df['Health Spending per Capita'] = df['Health Spending per Capita'].replace('[\$,]', '', regex=True).astype(int)

In [29]:
df.to_csv('Healthcare_per_capita_State-2014.csv')