In [1]:
import pandas as pd

In [4]:
df_file = 'Healthcare_per_capita_State-2014.csv'

In [6]:
df = pd.read_csv(df_file)
df.head()

        Location Health Spending per Capita
0  United States                      $8045
1        Alabama                      $7281
2         Alaska                     $11064
3        Arizona                      $6452
4       Arkansas                      $7408

In [8]:
df = df.rename(columns={'Location':'State'})

In [9]:
df.head()

           State Health Spending per Capita
0  United States                      $8045
1        Alabama                      $7281
2         Alaska                     $11064
3        Arizona                      $6452
4       Arkansas                      $7408

In [10]:
df.to_csv('Healthcare_per_capita_State-2014.csv')