In [2]:
import pandas as pd

In [3]:
df_file = 'csvData.csv'

In [5]:
df = pd.read_csv(df_file)
df.head()

           State  obesityRate       Pop
0       Colorado         23.8   5893634
1         Hawaii         25.0   1406430
2  Massachusetts         25.2   6912239
3     California         26.3  39613493
4        Vermont         26.6    623251